@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Overwrite here
$black: #000;
$primary: #2976bb;

$theme-colors: (
  "black": $black,
  "primary": $primary,
);

body {
  font-family: "Montserrat", sans-serif;
}

// Hero
.hero-caption {
  font-weight: 600;
}

@import "bootstrap/dist/css/bootstrap.min.css";
